<div>
    <h1>Create an Appointment</h1>

    <%= render partial: 'form', locals: {user: @user, appointment: @appointment} %>
</div>

<br>

<div 

<div id="admired">
    
</div>

<br>

<div id="new_appointment">
    <p id="scheduled"></p>
</div>
