<h1>Welcome to Capture Media's Home Page</h1>


<% if current_user %>

<div>
    <%= button_to 'New Appointment', new_user_appointment_path(@user), method: 'get', id: 'p2' %>
</div>  

<% end %>

<div id="my-scheduled-time">
<h3>My next appointments are:</h3> 
</div>

<br>

<% if !current_user %>

<div><%= button_to 'Sign In', new_user_session_path, class: 'btn btn-primary btn-lg btn-block', method: :get %></div>
<br/>
<div><%= button_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg btn-block', method: :get %></div>

<% end %>